<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
           
            <hr>
            

           <!--  <app-servers></app-servers> -->
            <!-- Attribute selector -->
           <!-- <div app-servers></div> -->
           <!-- .app-servers CSS Selector in server.component.ts -->
           <!-- <div class="app-servers"></div> -->
           
           <!-- <app-warning></app-warning>
           <app-success></app-success> -->
           <app-recipes></app-recipes>
           <app-shopping-list></app-shopping-list>
          
        </div>
    </div>
    
</div>



 